.additional-products__wrapper {
  padding: 25px 20px 35px;
}

.additional-products__title {
  margin: 0;
  padding-bottom: 36px;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: #000000;
  border-bottom: 1px solid #CDCDCD;
}

.additional-products__list {
  padding-bottom: 35px;
}

.additional-product {
  padding-bottom: 19px;
  border-bottom: 1px solid #CDCDCD;
}

.additional-product__title {
  margin: 0;
  padding: 13px 0;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: #222222;
}

.additional-product__list {
  margin: 0;
  padding-bottom: 15px;
  display: flex;
  justify-content: space-between;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #444444;
}

.additional-product__list-definition {
  margin: 0;
}

.additional-product__button {
  padding: 10px 0;
  width: 100%;
}
