.contacts {
  position: relative;

  @media @desktop {
    height: 400px;
  }
}

.contacts::after {
  position: absolute;
  content: "";
  width: 320px;
  height: 362px;
  background-image: url(../img/background/index-bg-map-mob.png);
  background-repeat: no-repeat;
  bottom: 0;
  left: 0;
}

.contacts__wrapper {
  display: flex;
  justify-content: space-between;
  padding: 26px 20px 388px;


  @media @tablet {
    padding: 60px 70px 456px;
  }

  @media @desktop {
    position: absolute;
    z-index: 1;
    padding: 60px 80px 55px;
    background-color: #FFFFFF;
    top: 95px;
    left: 110px;
  }
}

.contacts__wrapper--catalog {
  background: #F2F2F2;
  @media @desktop {
    background-color: #FFFFFF;
  }
}

.contacts__wrapper--form {
  background: #F2F2F2;
  @media @desktop {
    background-color: #FFFFFF;
  }
}

.contacts__slogan {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;
  margin: 0;

  @media @tablet {
    font-size: 20px;
    line-height: 26px;
  }

  @media @desktop {
    padding-right: 87px;
  }
}

.contacts__address {
  font-weight: 400;
  line-height: 20px;
  color: #444444;
  font-style: normal;
  display: flex;
  flex-direction: column;

  @media @tablet {
    font-size: 16px;
    line-height: 20px;
    text-align: right;
  }
}

.contacts__city {
  @media @tablet {
    padding-top: 20px;
  }
}
