.description__wrapper {
  padding: 0 20px 49px;
}

.description__title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: #000000;
  margin: 0;
}

.description__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-weight: 400;
  line-height: 18px;
  color: #444444;
  padding-top: 40px;
  display: grid;
  grid-row-gap: 20px;
}

.description__item {
  padding-left: 80px;
  position: relative;
  height: 60px;
}

.description__item::before {
  position: absolute;
  content: "";
  width: 60px;
  height: 60px;
  background-color: #68B738;
  left: 0;
}

