.form-selection__wrapper {
  text-align: center;
}

.form-selection__fieldset {
  margin: 0;
  padding: 0 20px;
  border: none;
}

.form-selection__list {
  display: grid;
  row-gap: 14px;
}

.form-selection__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-selection__label {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
  padding-right: 10px;
}

.form-selection__input {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: #444444;
  padding: 13px 15px;
  border: 1px solid #E7E7E7;
  flex-grow: 1;
}

.form-selection__parameters {
  padding-bottom: 24px;
  border-bottom: 1px solid #D9D9D9;
}

.form-selection__programs {
  padding-top: 28px;
  padding-bottom: 25px;
  border-bottom: 1px solid #D9D9D9;
}

.form-selection__program {
  justify-content: left;
}

.form-selection__label-programs {
  color: #222222;
  padding-left: 15px;
}

.form-selection__title {
  padding-top: 25px;
  padding-bottom: 35px;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  color: #000000;
}

.form-selection__input-comment {
  padding-top: 10px;
}

.form-selection__send {
  padding: 41px 20px 32px;
}

.form-selection__item-additional {
  justify-content: left;
}

.form-selection__label-additional {
  padding-left: 16px;
  color: #000000;
}

.form-selection__button {
  padding: 10px 0;
  font-size: 16px;
  line-height: 20px;
  width: 100%;
}

.form-selection__note {
  margin: 0;
  padding-top: 21px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
}
