.form-selection__wrapper {

  @media @tablet {
    padding: 0 70px;
  }

  @media @desktop {
    display: grid;
    grid-template-columns: repeat(2, 570px);
    column-gap: 80px;
    justify-content: center;
    padding: 0;
  }
}

.form-selection__fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.form-selection__programs {
  padding-top: 28px;
  padding-bottom: 25px;
  border-bottom: 1px solid @special_light-grey-4;

  @media @tablet {

    border: 1px solid @special_light-grey-3;
  }
}

.form-selection__contacts,
.form-selection__comment,
.form-selection__additional {
  border-top: 2px solid @basic_green;
  position: relative;
}

.form-selection__contacts {
  margin-top: 45px;
  padding-top: 70px;

  @media @tablet {
    margin-top: 100px;
    padding-top: 90px;
  }

  @media @desktop {
    grid-column-start: 1;
    grid-column-end: 3;
  }
}

.form-selection__comment {
  margin-top: 40px;
  padding-top: 45px;

  @media @tablet {
    margin-top: 90px;
    padding-top: 90px;
  }

  @media @desktop {
    grid-column-start: 1;
    grid-column-end: 3;
  }
}

.form-selection__additional {
  margin-top: 40px;
  padding-top: 48px;

  @media @tablet {
    margin-top: 90px;
    padding-top: 75px;
  }

  @media @desktop {
    grid-column-start: 1;
    grid-column-end: 3;
  }
}

.form-selection__title {
  position: absolute;
  top: -15px;
  padding: 0 20px;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  color: @black;
  background-color: @white;

  @media @tablet {
    font-size: 36px;
    line-height: 36px;
    padding: 0 40px;
    left: 30px;
    top: -22px;
  }

  @media @desktop {
    left: 70px;
  }
}

.form-selection__list {
  display: grid;
  row-gap: 14px;
  margin: 0 20px;

  @media @tablet {
    margin: 0;
    row-gap: 20px;
  }
}

.form-selection__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-selection__label {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: @special_dark-grey;
  padding-right: 10px;

  @media @tablet {
    font-size: 20px;
    line-height: 30px;
  }
}

.form-selection__input {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: @special_dark-grey;
  padding: 13px 15px;
  border: 1px solid @special_light-grey-3;
  flex-grow: 1;

  @media @tablet {
    font-size: 20px;
    line-height: 30px;
    padding: 11px 19px;
  }
}

.form-selection__parameters {
  padding-bottom: 24px;
  border-bottom: 1px solid @special_light-grey-4;

  @media @tablet {
    padding-bottom: 72px;
    border-bottom: none;
  }

  @media @desktop {
    padding: 0;
  }
}

.form-selection__program {
  justify-content: left;
}

.form-selection__label-programs {
  color: @special_dark-grey-2;
  padding-left: 15px;
}

.form-selection__list--contacts {

  @media @desktop {
    display: grid;
    grid-template-columns: repeat(2, 570px);
    column-gap: 80px;
  }
}

.form-selection__input-comment {
  padding-top: 10px;
  margin: 0 20px;

  @media @tablet {
    margin: 0;
  }
}

.form-selection__list--additional {
  @media @tablet {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 32px;
    column-gap: 60px;
    padding: 0 70px;
  }

  @media @desktop {
    grid-template-columns: repeat(4, 1fr);
    padding: 0 110px;
  }
}

.form-selection__item-additional {
  justify-content: left;
}

.form-selection__label-additional {
  padding-left: 16px;
  color: @black;
}

.form-selection__send {
  padding: 41px 20px 32px;

  @media @tablet {
    display: flex;
    padding: 54px 70px 72px;
    align-items: center;
  }

  @media @desktop {
    grid-column-start: 1;
    grid-column-end: 3;
    padding: 66px 110px 82px;
    display: grid;
    grid-template-columns: repeat(2, 570px);
    column-gap: 80px;
  }
}

.form-selection__button {
  padding: 10px 0;
  width: 100%;

  @media @tablet {
    padding: 13px 45px;
    width: auto;
  }
}

.form-selection__note {
  margin: 0;
  padding-top: 21px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: @black;

  @media @tablet {
    font-size: 16px;
    line-height: 16px;
    margin-left: 61px;
    padding: 0;
  }
}
