.main-container__title {
  padding: 27px 20px 40px;
  border-top: 1px solid @special_light-grey-4;
  border-bottom: 1px solid @special_light-grey-4;

  @media @tablet {
    border: none;
    padding: 65px 70px 0;
  }

  @media @desktop {
    padding: 77px 110px 0;
  }
}

.main-container__title--form {
  border-bottom: none;
}
