.main-footer__wrapper {
  padding: 39px 20px 22px;
}

.main-footer__logo {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #D9D9D9;
  padding-bottom: 32px;
}

.main-footer__copyright {
  padding-top: 22px;
}
