.main-header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px 0;
  min-height: 65px;

  @media @tablet {
    padding: 24px 30px 0;
  }

  @media @desktop {
    padding: 53px 110px 0;
  }
}
