.main-nav {
  position: relative;
}

.main-nav__wrapper {
  display: none;
  position: absolute;
  @media @tablet {
    display: block;
    position: relative;
  }
}

.main-nav__toggle {
  @media @tablet {
    display: none;
  }
}
