.social {
  padding: 22px 0;
  border-bottom: 1px solid @special_light-grey-4;
  display: flex;
  justify-content: center;

  @media @tablet {
    border: none;
    padding: 0;
  }
}

.social__list {
  display: grid;
  grid-template-columns: 28px 28px 28px;
  grid-column-gap: 24px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.social__icon {
  fill: @special_grey-3;

  &:hover {
    fill: @basic_green;
  }

  &:active {
    opacity: 0.3;
  }
}
